In [396]:
from pymongo import MongoClient
import pandas as pd
import matplotlib.pyplot as plt
from getpass import getpass
import requests
import pymongo

In [3]:
client = MongoClient("localhost:27017")
db = client["ironhack"]
c = db.get_collection("companies")

# Exploring Companies DB in Mongo

In [73]:
total_documents = c.count_documents({})

print(f"The number of companies in the DB is: {total_documents}")

The number of companies in the DB is: 18801

## Filter 1: Category

In [442]:

unique_categories = c.distinct("category_code")

unique_categories

[None,
 'advertising',
 'analytics',
 'automotive',
 'biotech',
 'cleantech',
 'consulting',
 'design',
 'ecommerce',
 'education',
 'enterprise',
 'fashion',
 'finance',
 'games_video',
 'government',
 'hardware',
 'health',
 'hospitality',
 'legal',
 'local',
 'manufacturing',
 'medical',
 'messaging',
 'mobile',
 'music',
 'nanotech',
 'network_hosting',
 'news',
 'nonprofit',
 'other',
 'photo_video',
 'public_relations',
 'real_estate',
 'search',
 'security',
 'semiconductor',
 'social',
 'software',
 'sports',
 'transportation',
 'travel',
 'web']

In [283]:

category = {"category_code":"games_video"}

n_games_video = c.count_documents({"category_code":"games_video"})

print(f"The number of companies in the gaming industry is: {n_games_video}")

The number of companies in the gaming industry is: 1083

## Filter 2: Countries

In [284]:
category = {"category_code":"games_video"}

unique_countries = c.distinct("offices.country_code", category)

In [285]:

pipeline = [
    {"$match": category},
    {"$group": {"_id": "$offices.country_code", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}},
    {"$limit": 7} 
]

top_countries = c.aggregate(pipeline)

df = pd.DataFrame(top_countries)

df

          _id  count
0       [USA]    487
1          []    244
2       [GBR]     55
3       [CAN]     32
4  [USA, USA]     26
5       [FRA]     22
6       [DEU]     21

In [286]:
def drop_row(df):
    df = df.drop([1, 4]).reset_index(drop=True)
    return df
    
drop_row(df)

     _id  count
0  [USA]    487
1  [GBR]     55
2  [CAN]     32
3  [FRA]     22
4  [DEU]     21

In [288]:

category = {"category_code":"games_video"}
country = {"offices.country_code":"GBR"}

and_conditions = {"$and":[category, country]}

projection = {"_id":0, "name":1, "offices.country_code":1}

list(c.find(and_conditions, projection).limit(1))

[{'name': 'Babelgum', 'offices': [{'country_code': 'GBR'}]}]

In [246]:

total_documents = c.count_documents(and_conditions)

print(f"The number of companies after the two first filters is: {total_documents}")

The number of companies after the two first filters is: 72

## Filter 3: Cities

In [289]:
pipeline = [
    {"$match": category},
    {"$match": country},
    {"$group": {"_id": "$offices.city", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}},
    {"$limit": 5} 
]

top_cities = c.aggregate(pipeline)

city_df = pd.DataFrame(top_cities)

city_df

         _id  count
0   [London]     24
1   [Oxford]      3
2    [Corby]      3
3   [Dundee]      2
4  [Newbury]      2

In [302]:
category = {"category_code":"games_video"}
country = {"offices.country_code":"GBR"}
city = {"offices.city":"London"}

and_conditions = {"$and":[category, country, city]}

projection = {"_id":0, "name":1, "offices.country_code":1}

total_documents = c.count_documents(and_conditions)

print(f"The number of companies after the three filters is: {total_documents}")

The number of companies after the three first filters is: 35

## Filter 4: Latitude and Longitude

In [321]:

projection = {"_id":0, "name":1, "offices.city":1, "offices.latitude":1, "offices.longitude":1}

london_companies = list(c.find(and_conditions, projection))

london_companies

[{'name': 'Babelgum',
  'offices': [{'city': 'London',
    'latitude': 53.344104,
    'longitude': -6.267494}]},
 {'name': 'Tioti',
  'offices': [{'city': 'Seattle',
    'latitude': 47.733603,
    'longitude': -122.355579},
   {'city': 'London', 'latitude': 51.524323, 'longitude': -0.081169}]},
 {'name': 'blinkbox',
  'offices': [{'city': 'London',
    'latitude': 51.520779,
    'longitude': -0.10759}]},
 {'name': 'doof',
  'offices': [{'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'WorldTV',
  'offices': [{'city': 'Limerick',
    'latitude': 52.6638571,
    'longitude': -8.6267726},
   {'city': 'London', 'latitude': 51.5001524, 'longitude': -0.1262362}]},
 {'name': 'idiomag',
  'offices': [{'city': 'London',
    'latitude': 51.500152,
    'longitude': -0.126236}]},
 {'name': 'World Reviewer',
  'offices': [{'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'Playfish',
  'offices': [{'city': 'London',
    'latitude': 51.4991094,
    'longitude': -0.1984802},
   {'city': 'TromsÃ¸', 'latitude': 69.636216, 'longitude': 18.931062}]},
 {'name': 'Zebtab',
  'offices': [{'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'Pikum',
  'offices': [{'city': 'London',
    'latitude': 51.539778,
    'longitude': -0.152998}]},
 {'name': 'MUBI',
  'offices': [{'city': 'Palo Alto',
    'latitude': 37.44236,
    'longitude': -122.161025},
   {'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'Astream',
  'offices': [{'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'Vigster',
  'offices': [{'city': 'London',
    'latitude': 51.500152,
    'longitude': -0.126236}]},
 {'name': 'Saffron Digital',
  'offices': [{'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'Mixcloud',
  'offices': [{'city': 'London',
    'latitude': 51.5399105,
    'longitude': -0.2859795}]},
 {'name': 'Illumina Digital',
  'offices': [{'city': 'London',
    'latitude': 51.503612,
    'longitude': -0.25628}]},
 {'name': 'deltatre',
  'offices': [{'city': 'Torino', 'latitude': 45.058576, 'longitude': 7.649614},
   {'city': 'London', 'latitude': None, 'longitude': None},
   {'city': 'Lausanne', 'latitude': None, 'longitude': None},
   {'city': 'Paris', 'latitude': None, 'longitude': None},
   {'city': 'New York', 'latitude': None, 'longitude': None}]},
 {'name': 'BeatPick',
  'offices': [{'city': 'London',
    'latitude': 51.5001524,
    'longitude': -0.1262362},
   {'city': 'Roma', 'latitude': 41.8954656, 'longitude': 12.4823243}]},
 {'name': 'CareerPlayer',
  'offices': [{'city': 'London',
    'latitude': 51.5001524,
    'longitude': -0.1262362}]},
 {'name': 'Kramaley Games',
  'offices': [{'city': 'London',
    'latitude': 51.4944999,
    'longitude': -0.1479318}]},
 {'name': 'Filmed Media',
  'offices': [{'city': 'London',
    'latitude': 51.5359008,
    'longitude': -0.2055081}]},
 {'name': 'Spoonfed',
  'offices': [{'city': 'London',
    'latitude': 51.7577453,
    'longitude': -1.2186724}]},
 {'name': 'Dilettante Music',
  'offices': [{'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'Get Closer',
  'offices': [{'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'Fragegg',
  'offices': [{'city': 'Vienna', 'latitude': None, 'longitude': None},
   {'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'goviral',
  'offices': [{'city': 'London', 'latitude': None, 'longitude': None},
   {'city': 'Copenhagen K', 'latitude': None, 'longitude': None},
   {'city': 'München', 'latitude': None, 'longitude': None},
   {'city': 'Paris', 'latitude': None, 'longitude': None}]},
 {'name': 'Preview Networks',
  'offices': [{'city': 'Copenhagen',
    'latitude': 55.6659813,
    'longitude': 12.5800751},
   {'city': 'London', 'latitude': None, 'longitude': None},
   {'city': 'Berlin', 'latitude': None, 'longitude': None},
   {'city': 'Paris', 'latitude': None, 'longitude': None},
   {'city': 'Milan', 'latitude': None, 'longitude': None},
   {'city': 'Stockholm', 'latitude': None, 'longitude': None}]},
 {'name': 'Swiffen',
  'offices': [{'city': 'London',
    'latitude': 51.5163382,
    'longitude': -0.0828173}]},
 {'name': 'NaturalMotion',
  'offices': [{'city': 'Oxford', 'latitude': None, 'longitude': None},
   {'city': 'San Francisco',
    'latitude': 37.7875304,
    'longitude': -122.3989996},
   {'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'Owngig',
  'offices': [{'city': 'London',
    'latitude': 39.39615,
    'longitude': 22.76303}]},
 {'name': 'Two Way TV',
  'offices': [{'city': 'London', 'latitude': None, 'longitude': None}]},
 {'name': 'Vevo',
  'offices': [{'city': 'New York', 'latitude': None, 'longitude': None},
   {'city': 'Playa Vista', 'latitude': None, 'longitude': None},
   {'city': 'London', 'latitude': None, 'longitude': None},
   {'city': 'San Francisco', 'latitude': None, 'longitude': None},
   {'city': 'Chicago', 'latitude': None, 'longitude': None},
   {'city': 'Berlin', 'latitude': None, 'longitude': None}]},
 {'name': 'Bandstocks',
  'offices': [{'city': 'London',
    'latitude': 51.5142132,
    'longitude': -0.1261853}]},
 {'name': 'Keen Software House',
  'offices': [{'city': 'London',
    'latitude': 51.5220763,
    'longitude': -0.1153003}]},
 {'name': 'New Toy',
  'offices': [{'city': 'London', 'latitude': None, 'longitude': None}]}]

## Creating a DF with the results

In [335]:

# 0. Filters

category = {"category_code":"games_video"}
country = {"offices.country_code":"GBR"}
city = {"offices.city":"London"}

# 1. Building the filters

and_conditions = {"$and":[category, country, city]}

# 2. Projection

projection = {"_id":0, "name":1, "offices.city":1, "offices.latitude":1, "offices.longitude":1}

final_companies = list(c.find(and_conditions, projection).sort("name", 1))

df  = pd.DataFrame(final_companies)

df

                   name                                            offices
0               Astream  [{'city': 'London', 'latitude': None, 'longitu...
1              Babelgum  [{'city': 'London', 'latitude': 53.344104, 'lo...
2            Bandstocks  [{'city': 'London', 'latitude': 51.5142132, 'l...
3              BeatPick  [{'city': 'London', 'latitude': 51.5001524, 'l...
4          CareerPlayer  [{'city': 'London', 'latitude': 51.5001524, 'l...
5      Dilettante Music  [{'city': 'London', 'latitude': None, 'longitu...
6          Filmed Media  [{'city': 'London', 'latitude': 51.5359008, 'l...
7               Fragegg  [{'city': 'Vienna', 'latitude': None, 'longitu...
8            Get Closer  [{'city': 'London', 'latitude': None, 'longitu...
9      Illumina Digital  [{'city': 'London', 'latitude': 51.503612, 'lo...
10  Keen Software House  [{'city': 'London', 'latitude': 51.5220763, 'l...
11       Kramaley Games  [{'city': 'London', 'latitude': 51.4944999, 'l...
12                 MUBI  [{'city': 'Palo Alto', 'latitude': 37.44236, '...
13             Mixcloud  [{'city': 'London', 'latitude': 51.5399105, 'l...
14        NaturalMotion  [{'city': 'Oxford', 'latitude': None, 'longitu...
15              New Toy  [{'city': 'London', 'latitude': None, 'longitu...
16               Owngig  [{'city': 'London', 'latitude': 39.39615, 'lon...
17                Pikum  [{'city': 'London', 'latitude': 51.539778, 'lo...
18             Playfish  [{'city': 'London', 'latitude': 51.4991094, 'l...
19     Preview Networks  [{'city': 'Copenhagen', 'latitude': 55.6659813...
20      Saffron Digital  [{'city': 'London', 'latitude': None, 'longitu...
21             Spoonfed  [{'city': 'London', 'latitude': 51.7577453, 'l...
22              Swiffen  [{'city': 'London', 'latitude': 51.5163382, 'l...
23                Tioti  [{'city': 'Seattle', 'latitude': 47.733603, 'l...
24           Two Way TV  [{'city': 'London', 'latitude': None, 'longitu...
25                 Vevo  [{'city': 'New York', 'latitude': None, 'longi...
26              Vigster  [{'city': 'London', 'latitude': 51.500152, 'lo...
27       World Reviewer  [{'city': 'London', 'latitude': None, 'longitu...
28              WorldTV  [{'city': 'Limerick', 'latitude': 52.6638571, ...
29               Zebtab  [{'city': 'London', 'latitude': None, 'longitu...
30             blinkbox  [{'city': 'London', 'latitude': 51.520779, 'lo...
31             deltatre  [{'city': 'Torino', 'latitude': 45.058576, 'lo...
32                 doof  [{'city': 'London', 'latitude': None, 'longitu...
33              goviral  [{'city': 'London', 'latitude': None, 'longitu...
34              idiomag  [{'city': 'London', 'latitude': 51.500152, 'lo...

## Exploding the nested information

In [363]:

df = pd.DataFrame(final_companies)

df_exploded = df.explode('offices')

london_companies = pd.concat([df_exploded.drop(['offices'], axis=1), df_exploded['offices'].apply(pd.Series)], axis=1)

london_companies

                   name           city   latitude   longitude
0               Astream         London        NaN         NaN
1              Babelgum         London  53.344104   -6.267494
2            Bandstocks         London  51.514213   -0.126185
3              BeatPick         London  51.500152   -0.126236
3              BeatPick           Roma  41.895466   12.482324
4          CareerPlayer         London  51.500152   -0.126236
5      Dilettante Music         London        NaN         NaN
6          Filmed Media         London  51.535901   -0.205508
7               Fragegg         Vienna        NaN         NaN
7               Fragegg         London        NaN         NaN
8            Get Closer         London        NaN         NaN
9      Illumina Digital         London  51.503612   -0.256280
10  Keen Software House         London  51.522076   -0.115300
11       Kramaley Games         London  51.494500   -0.147932
12                 MUBI      Palo Alto  37.442360 -122.161025
12                 MUBI         London        NaN         NaN
13             Mixcloud         London  51.539910   -0.285979
14        NaturalMotion         Oxford        NaN         NaN
14        NaturalMotion  San Francisco  37.787530 -122.399000
14        NaturalMotion         London        NaN         NaN
15              New Toy         London        NaN         NaN
16               Owngig         London  39.396150   22.763030
17                Pikum         London  51.539778   -0.152998
18             Playfish         London  51.499109   -0.198480
18             Playfish        TromsÃ¸  69.636216   18.931062
19     Preview Networks     Copenhagen  55.665981   12.580075
19     Preview Networks         London        NaN         NaN
19     Preview Networks         Berlin        NaN         NaN
19     Preview Networks          Paris        NaN         NaN
19     Preview Networks          Milan        NaN         NaN
19     Preview Networks      Stockholm        NaN         NaN
20      Saffron Digital         London        NaN         NaN
21             Spoonfed         London  51.757745   -1.218672
22              Swiffen         London  51.516338   -0.082817
23                Tioti        Seattle  47.733603 -122.355579
23                Tioti         London  51.524323   -0.081169
24           Two Way TV         London        NaN         NaN
25                 Vevo       New York        NaN         NaN
25                 Vevo    Playa Vista        NaN         NaN
25                 Vevo         London        NaN         NaN
25                 Vevo  San Francisco        NaN         NaN
25                 Vevo        Chicago        NaN         NaN
25                 Vevo         Berlin        NaN         NaN
26              Vigster         London  51.500152   -0.126236
27       World Reviewer         London        NaN         NaN
28              WorldTV       Limerick  52.663857   -8.626773
28              WorldTV         London  51.500152   -0.126236
29               Zebtab         London        NaN         NaN
30             blinkbox         London  51.520779   -0.107590
31             deltatre         Torino  45.058576    7.649614
31             deltatre         London        NaN         NaN
31             deltatre       Lausanne        NaN         NaN
31             deltatre          Paris        NaN         NaN
31             deltatre       New York        NaN         NaN
32                 doof         London        NaN         NaN
33              goviral         London        NaN         NaN
33              goviral   Copenhagen K        NaN         NaN
33              goviral        München        NaN         NaN
33              goviral          Paris        NaN         NaN
34              idiomag         London  51.500152   -0.126236

## Cleaning the DF

In [406]:
def clean_df(df):

    df.dropna(thresh=3, inplace=True)
    df.rename(columns={'latitude': 'lat', 'longitude': 'lon'}, inplace=True)
    df = df[df['city'] == 'London'].reset_index(drop=True)
    df = df[df['lat'] <= 53].reset_index(drop=True)
    df = df[df['lat'] >= 50].reset_index(drop=True)
    df = df[df['lon'] > -1.2].reset_index(drop=True)
    return df

london_companies = clean_df(london_companies)

london_companies

                   name    city        lat       lon
0            Bandstocks  London  51.514213 -0.126185
1              BeatPick  London  51.500152 -0.126236
2          CareerPlayer  London  51.500152 -0.126236
3          Filmed Media  London  51.535901 -0.205508
4      Illumina Digital  London  51.503612 -0.256280
5   Keen Software House  London  51.522076 -0.115300
6        Kramaley Games  London  51.494500 -0.147932
7              Mixcloud  London  51.539910 -0.285979
8                 Pikum  London  51.539778 -0.152998
9              Playfish  London  51.499109 -0.198480
10              Swiffen  London  51.516338 -0.082817
11                Tioti  London  51.524323 -0.081169
12              Vigster  London  51.500152 -0.126236
13              WorldTV  London  51.500152 -0.126236
14             blinkbox  London  51.520779 -0.107590
15              idiomag  London  51.500152 -0.126236

## Extracting results from FourSquare

In [375]:
token = getpass()

········

## Creating functions to extract results, convert it into df and load it in MongoDB

In [409]:
def find_things (venue, lat, lon, sort, limit):
         
    url = f"https://api.foursquare.com/v3/places/search?query={venue}&ll={lat}%2C{lon}&fields=name%2Cgeocodes&sort={sort}&limit={limit}"

    headers = {
        "accept": "application/json",
        "Authorization": token
    }

    response = requests.get(url, headers=headers).json()

    return response


def process_response_into_df (response):
    
    new_list = []

    for venue in response["results"]:

        name = venue["name"]
        lat = venue["geocodes"]["main"]["latitude"]
        lon = venue["geocodes"]["main"]["longitude"]

        dict_ = {
            "name": name,
            "lat": lat,
            "lon": lon
        }

        new_list.append(dict_)

    return pd.DataFrame(new_list)

def insert_df_into_mongo (df, collection):
    client = pymongo.MongoClient("localhost:27017")
    db = client["ironhack"]
    c = db.get_collection(collection) 
    
    for index, row in df.iterrows():
        c.insert_one(dict(row))

## Extracting Schools

In [432]:
# venue: what type of place are you looking (str), 
# lat: coordinate of latitude
# lon: coordinate of longitud 
# sort: popularity, relevance, rating, distance
# limit: limit of results you want to find (int)

coordinates_london = 51.5213009,-0.1976264

result_schools = find_things ("primary schools", "51.5213009", "-0.1976264", "popularity", "50")

schools_df = process_response_into_df (result_schools)

insert_df_into_mongo (schools_df, "schools")

In [433]:

schools_df

                                                 name        lat       lon
0                            Hallfield Primary School  51.514546 -0.185197
1                            Salusbury Primary School  51.535937 -0.205658
2                             Colville Primary School  51.514662 -0.203539
3                     Fox Primary School Notting Hill  51.507669 -0.196881
4        St Clement & St James' C of E Primary School  51.509150 -0.211462
5                        Avondale Park Primary School  51.510644 -0.214221
6                       St Charles R C Primary School  51.521268 -0.215016
7            St Mary Magdalenes C of E Primary School  51.522425 -0.189118
8                       Oxford Gardens Primary School  51.516883 -0.218499
9                           Middle Row Primary School  51.525403 -0.212233
10                         Wilberforce Primary School  51.531858 -0.208408
11                       St Peter's CE Primary School  51.524136 -0.196509
12                              Barlby Primary School  51.523848 -0.215375
13                        Queen's Park Primary School  51.527540 -0.208187
14                       Skola English Schools Camden  51.534650 -0.147243
15                 St Saviour's C of E Primary School  51.524198 -0.188225
16                 St Stephen's C of E Primary School  51.519091 -0.195631
17                        Carlton Vale Primary School  51.532405 -0.200195
18                           Essendine Primary School  51.528106 -0.194924
19                  Larmenier Catholic Primary School  51.517043 -0.217394
20         Associated Board of Royal Schools of Music  51.519367 -0.144348
21                           St Mary's Primary School  51.524985 -0.210745
22              St James & St Michaels Primary School  51.512983 -0.179276
23                    St Luke's C of E Primary School  51.532003 -0.203005
24                                 Fox Primary School  51.507176 -0.196997
25                       Boarding Schools Association  51.497137 -0.145399
26                         ARK Brunel Primary Academy  51.525686 -0.211970
27                           Bevington Primary School  51.521247 -0.208523
28                             Gateway Primary School  51.525700 -0.171097
29                          St Francis Primary School  51.512198 -0.216851
30                         Ark Atwood Primary Academy  51.522991 -0.192073
31                            Mace Montessori Schools  51.493864 -0.234921
32                              Islamia Schools Trust  51.539028 -0.207814
33                        Independent Schools Council  51.497030 -0.145372
34                           St Mary's Primary School  51.534540 -0.197342
35  English Time Language Schools & Overseas Educa...  51.518791 -0.132241
36                         Ark Atwood Primary Academy  51.528050 -0.207695
37                               Samba Soccer Schools  51.485611 -0.203296
38                     Chess in Schools & Communities  51.518415 -0.155552
39                       Edward Wilson Primary School  51.521436 -0.189444
40                     St Joseph's R C Primary School  51.527510 -0.182183
41                           St Thomas Primary School  51.524038 -0.209029
42                    Paddington Green Primary School  51.522850 -0.177683
43                St Augustines C of E Primary School  51.534492 -0.191414
44           St Mary of the Angels R C Primary School  51.518232 -0.197801
45                             Skills Driving Schools  51.523510 -0.187910
46                               PLS Language Schools  51.512989 -0.181471
47                         Greenhouse Schools Project  51.508299 -0.207673
48                  Ef International Language Schools  51.502741 -0.191169
49     The Nightingale Primary School, South Woodford  51.584936  0.034279

## Extracting Starbucks

In [435]:
# venue: what type of place are you looking (str), 
# lat: coordinate of latitude
# lon: coordinate of longitud 
# sort: popularity, relevance, rating, distance
# limit: limit of results you want to find (int)

coordinates_london = 51.5213009,-0.1976264

result_starbucks = find_things ("starbucks", "51.5213009", "-0.1976264", "rating", "50")

starbucks_df = process_response_into_df (result_starbucks)

insert_df_into_mongo (starbucks_df, "starbucks")

In [436]:

starbucks_df

         name        lat       lon
0   Starbucks  51.492085 -0.165586
1   Starbucks  51.514765 -0.150258
2   Starbucks  51.558758 -0.281940
3   Starbucks  51.545405 -0.162606
4   Starbucks  51.507335 -0.142500
5   Starbucks  51.494495 -0.182344
6   Starbucks  51.516025 -0.144089
7   Starbucks  51.524184 -0.389132
8   Starbucks  51.480623 -0.128149
9   Starbucks  51.559872 -0.278972
10  Starbucks  51.502156 -0.117629
11  Starbucks  51.521696 -0.157131
12  Starbucks  51.480984 -0.418738
13  Starbucks  51.494362 -0.146901
14  Starbucks  51.502162 -0.188498
15  Starbucks  51.512244 -0.121751
16  Starbucks  51.456640 -0.193117
17  Starbucks  51.492549 -0.148642
18  Starbucks  51.406748 -0.028746
19  Starbucks  51.516819 -0.205851
20  Starbucks  51.565317 -0.134270
21  Starbucks  51.656685 -0.398366
22  Starbucks  51.524302 -0.138234
23  Starbucks  51.499107 -0.135596
24  Starbucks  51.427615 -0.167891
25  Starbucks  51.545837 -0.478527
26  Starbucks  51.488381 -0.166094
27  Starbucks  51.511469 -0.075064
28  Starbucks  51.498155 -0.132786
29  Starbucks  51.571714 -0.195940
30  Starbucks  51.516658 -0.129233
31  Starbucks  51.514575 -0.143871
32  Starbucks  51.508469 -0.079180
33  Starbucks  51.502074  0.004890
34  Starbucks  51.507305 -0.205803
35  Starbucks  51.506533 -0.100135
36  Starbucks  51.517606 -0.142670
37  Starbucks  51.503994 -0.109461
38  Starbucks  51.482103 -0.009850
39  Starbucks  51.521461 -0.143533
40  Starbucks  51.514339  0.009537
41  Starbucks  51.463704 -0.302055
42  Starbucks  51.485034 -0.182131
43  Starbucks  51.554131 -0.165735
44  Starbucks  51.512795 -0.133230
45  Starbucks  51.558573  0.071926
46  Starbucks  51.405482  0.015700
47  Starbucks  51.461822 -0.216424
48  Starbucks  51.501276 -0.161106
49  Starbucks  51.504426 -0.014817

## Extracting Design Companies

In [438]:
# venue: what type of place are you looking (str), 
# lat: coordinate of latitude
# lon: coordinate of longitud 
# sort: popularity, relevance, rating, distance
# limit: limit of results you want to find (int)

result_design_companies = find_things ("design companies", "51.5213009", "-0.1976264", "rating", "50")

design_df = process_response_into_df (result_design_companies)

insert_df_into_mongo (design_df, "design companies")

In [439]:

design_df

                                          name        lat       lon
0                               Ardesia Design  51.518700 -0.197059
1                      Notting Hill Web Design  51.521392 -0.203121
2             Steffan Tollgard Interior Design  51.521430 -0.203465
3                                 Verus Design  51.521288 -0.204192
4                        La Boca Design Studio  51.517581 -0.201311
5                 Lovegrove Design Consultants  51.517380 -0.200975
6                                Gemini Design  51.520306 -0.205521
7    The Pocket Library Design Archive Limited  51.515339 -0.197174
8                              Design Concrete  51.514679 -0.195102
9                                  Nail Design  51.516794 -0.188047
10                            Mighty Companies  51.529074 -0.215870
11                Removal Companies Kensington  51.504192 -0.197158
12           Removal Companies Shepherd's Bush  51.517219 -0.225167
13                Removal Companies Paddington  51.512860 -0.166802
14                 Custom Automation Companies  51.497448 -0.197859
15                   Estate Lettings Companies  51.520706 -0.158648
16          The Zomba Group of Music Companies  51.532423 -0.234459
17                   Hobden Group of Companies  51.520131 -0.151211
18             The Waterman Group of Companies  51.517196 -0.150338
19                  Granite Companies in India  51.514019 -0.147689
20          Jadwin Group of Property Companies  51.514834 -0.146855
21                     One Stop Companies Shop  51.517349 -0.142368
22                  The Estée Lauder Companies  51.519035 -0.137497
23                     Hope Group of Companies  51.483750 -0.215226
24                   A-z Z-a Companies Limited  51.506105 -0.258834
25                   Chandler Chicco Companies  51.514563 -0.127759
26             Leading Granite Companies India  51.516617 -0.127793
27                 De Beers Group of Companies  51.507029 -0.130416
28    Oil Companies International Marine Forum  51.500323 -0.133484
29         Web Development Companies in Lahore  51.506411 -0.127403
30       India's Top 10 Major Export Companies  51.514746 -0.123802
31                             Companies House  51.498036 -0.131852
32              Capital Group Companies Global  51.490080 -0.140072
33                Best Web Design Companies UK  51.507865 -0.304952
34              Removal Companies Notting Hill  51.517470 -0.207150
35               Computer Networking Companies  51.514185 -0.189447
36            Removal Companies West Hampstead  51.533479 -0.189921
37             Classic Car Insurance Companies  51.508156 -0.194571
38        Motherwell Bridge Group of Companies  51.513588 -0.159308
39                   Cosmur Group of Companies  51.495718 -0.186272
40             Removal Companies Swiss Cottage  51.543669 -0.174384
41           Removal Companies West Kensington  51.495413 -0.210082
42                                   Companies  51.492570 -0.193400
43              Removal Companies Belsize Park  51.540966 -0.160356
44          Removal Companies South Kensington  51.492238 -0.183164
45               Removal Companies Hammersmith  51.498091 -0.232545
46  Systems Procedures for Efficient Companies  51.496662 -0.164914
47                   Removal Companies Mayfair  51.511811 -0.147474
48                     Removal Companies Brent  51.540406 -0.154922
49               Removal Companies Earls Court  51.488565 -0.188779

## Bandstocks: The perfect company

In [456]:
name = {"name":"Bandstocks"}
category = {"category_code":"games_video"}
country = {"offices.country_code":"GBR"}
city = {"offices.city":"London"}

and_conditions = {"$and":[name,category, country, city]}

final_companies = list(c.find(and_conditions))


final_companies

[{'_id': ObjectId('52cdef7f4bab8bd67529c0c4'),
  'name': 'Bandstocks',
  'permalink': 'bandstocks',
  'crunchbase_url': 'http://www.crunchbase.com/company/bandstocks',
  'homepage_url': 'http://www.bandstocks.com',
  'blog_url': '',
  'blog_feed_url': '',
  'twitter_username': '',
  'category_code': 'games_video',
  'number_of_employees': None,
  'founded_year': None,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': '',
  'alias_list': '',
  'email_address': 'support@bandstocks.com',
  'phone_number': '',
  'description': 'Artist Funding',
  'created_at': 'Fri Jun 19 08:46:03 UTC 2009',
  'updated_at': 'Fri Jun 19 21:36:23 UTC 2009',
  'overview': '<p>Bandstocks is an online community which allows fans and artists to collaborate to produce and market an album. Investors purchase &#8220;Bandstocks,&#8221; official loan stocks, toward the funding of an artist&#8217;s album. Unlike traditional record labels, artists receive a large share of the profit and fans have the opportunity to invest and profit, as well.  </p>',
  'image': {'available_sizes': [[[150, 33],
     'assets/images/resized/0004/9728/49728v1-max-150x150.png'],
    [[250, 55], 'assets/images/resized/0004/9728/49728v1-max-250x250.png'],
    [[450, 99], 'assets/images/resized/0004/9728/49728v1-max-450x450.png']],
   'attribution': None},
  'products': [],
  'relationships': [],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [{'description': 'Civilian Industries PLC',
    'address1': '17 Shorts Gardens',
    'address2': 'Covent Garden',
    'zip_code': 'WC2H 9AT',
    'city': 'London',
    'state_code': None,
    'country_code': 'GBR',
    'latitude': 51.5142132,
    'longitude': -0.1261853}],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

###  Exploring Bandstocks

In [457]:
name = {"name":"Bandstocks"}
category = {"category_code":"games_video"}
country = {"offices.country_code":"GBR"}
city = {"offices.city":"London"}

# 1. Building the filters

and_conditions = {"$and":[name,category, country, city]}

# 2. Projection

projection = {"_id":0, "name":1, "offices.city":1, "offices.latitude":1, "offices.longitude":1, 'total_money_raised':1} 

final_companies = list(c.find(and_conditions, projection))


final_companies

[{'name': 'Bandstocks',
  'total_money_raised': '$0',
  'offices': [{'city': 'London',
    'latitude': 51.5142132,
    'longitude': -0.1261853}]}]

## Exporting the final DFs

In [440]:

london_companies.to_csv('data/london_companies.csv', index=False)

schools_df.to_csv('data/schools_df.csv', index=False)

starbucks_df.to_csv('data/starbucks_df.csv', index=False)

design_df.to_csv('data/design_df.csv', index=False)